dragon_flow.json
[
  {
    "id": "flow_dragon",
    "type": "tab",
    "label": "Dragon Telemetry",
    "disabled": false,
    "info": "Dashboard de telemetria da cápsula Dragon - SpaceX"
  },
  {
    "id": "mqtt_in",
    "type": "mqtt in",
    "z": "flow_dragon",
    "name": "Recebe Telemetria MQTT",
    "topic": "spacex/dragon/telemetry",
    "qos": "0",
    "datatype": "auto",
    "broker": "mqtt_broker",
    "x": 160,
    "y": 100,
    "wires": [["json_parse"]]
  },
  {
    "id": "mqtt_broker",
    "type": "mqtt-broker",
    "name": "HiveMQ Public",
    "broker": "broker.hivemq.com",
    "port": "1883",
    "clientid": "nodered_dragon_dashboard",
    "usetls": false,
    "compatmode": false,
    "keepalive": "60",
    "cleansession": true
  },
  {
    "id": "json_parse",
    "type": "json",
    "z": "flow_dragon",
    "name": "Parse JSON",
    "property": "payload",
    "action": "obj",
    "pretty": false,
    "x": 380,
    "y": 100,
    "wires": [["split_temp", "split_oxygen", "split_distance", "split_radiation", "debug_all"]]
  },
  {
    "id": "debug_all",
    "type": "debug",
    "z": "flow_dragon",
    "name": "Debug Payload",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "x": 600,
    "y": 40,
    "wires": []
  },
  {
    "id": "split_temp",
    "type": "function",
    "z": "flow_dragon",
    "name": "Extrai Temperatura",
    "func": "msg.payload = msg.payload.temperature;\nreturn msg;",
    "outputs": 1,
    "x": 620,
    "y": 120,
    "wires": [["gauge_temp", "chart_temp"]]
  },
  {
    "id": "split_oxygen",
    "type": "function",
    "z": "flow_dragon",
    "name": "Extrai Oxigênio",
    "func": "msg.payload = msg.payload.oxygen;\nreturn msg;",
    "outputs": 1,
    "x": 620,
    "y": 200,
    "wires": [["gauge_oxygen", "chart_oxygen"]]
  },
  {
    "id": "split_distance",
    "type": "function",
    "z": "flow_dragon",
    "name": "Extrai Distância Docking",
    "func": "msg.payload = msg.payload.docking_distance;\nreturn msg;",
    "outputs": 1,
    "x": 620,
    "y": 280,
    "wires": [["gauge_distance", "chart_distance"]]
  },
  {
    "id": "split_radiation",
    "type": "function",
    "z": "flow_dragon",
    "name": "Extrai Radiação Solar",
    "func": "msg.payload = msg.payload.radiation;\nreturn msg;",
    "outputs": 1,
    "x": 620,
    "y": 360,
    "wires": [["gauge_radiation", "chart_radiation"]]
  },
  {
    "id": "gauge_temp",
    "type": "ui_gauge",
    "z": "flow_dragon",
    "name": "Gauge Temperatura",
    "group": "group_cabin",
    "order": 1,
    "width": 6,
    "height": 4,
    "gtype": "gage",
    "title": "🌡️ Temperatura da Cabine",
    "label": "°C",
    "format": "{{value}}",
    "min": -30,
    "max": 50,
    "colors": ["#00b4d8", "#00cc66", "#ff4444"],
    "seg1": 0,
    "seg2": 30,
    "x": 880,
    "y": 120,
    "wires": []
  },
  {
    "id": "gauge_oxygen",
    "type": "ui_gauge",
    "z": "flow_dragon",
    "name": "Gauge Oxigênio",
    "group": "group_cabin",
    "order": 2,
    "width": 6,
    "height": 4,
    "gtype": "gage",
    "title": "🫁 Nível de Oxigênio",
    "label": "%",
    "format": "{{value}}",
    "min": 0,
    "max": 100,
    "colors": ["#ff4444", "#ffaa00", "#00cc66"],
    "seg1": 21,
    "seg2": 50,
    "x": 880,
    "y": 200,
    "wires": []
  },
  {
    "id": "gauge_distance",
    "type": "ui_gauge",
    "z": "flow_dragon",
    "name": "Gauge Docking",
    "group": "group_nav",
    "order": 1,
    "width": 6,
    "height": 4,
    "gtype": "gage",
    "title": "📡 Radar de Docking",
    "label": "cm",
    "format": "{{value}}",
    "min": 0,
    "max": 400,
    "colors": ["#ff4444", "#ffaa00", "#00cc66"],
    "seg1": 10,
    "seg2": 50,
    "x": 880,
    "y": 280,
    "wires": []
  },
  {
    "id": "gauge_radiation",
    "type": "ui_gauge",
    "z": "flow_dragon",
    "name": "Gauge Radiação",
    "group": "group_nav",
    "order": 2,
    "width": 6,
    "height": 4,
    "gtype": "gage",
    "title": "☀️ Radiação Solar",
    "label": "lux",
    "format": "{{value}}",
    "min": 0,
    "max": 4095,
    "colors": ["#00cc66", "#ffaa00", "#ff4444"],
    "seg1": 1000,
    "seg2": 500,
    "x": 880,
    "y": 360,
    "wires": []
  },
  {
    "id": "chart_temp",
    "type": "ui_chart",
    "z": "flow_dragon",
    "name": "Gráfico Temperatura",
    "group": "group_charts",
    "order": 1,
    "width": 12,
    "height": 5,
    "label": "Temperatura da Cabine (°C)",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "Aguardando dados...",
    "dot": false,
    "ymin": "",
    "ymax": "",
    "removeOlder": 1,
    "removeOlderPoints": "100",
    "removeOlderUnit": "3600",
    "cutout": 0,
    "colors": ["#ff4444"],
    "x": 880,
    "y": 440,
    "wires": [[], []]
  },
  {
    "id": "chart_oxygen",
    "type": "ui_chart",
    "z": "flow_dragon",
    "name": "Gráfico Oxigênio",
    "group": "group_charts",
    "order": 2,
    "width": 12,
    "height": 5,
    "label": "Nível de Oxigênio (%)",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "Aguardando dados...",
    "dot": false,
    "ymin": "0",
    "ymax": "100",
    "removeOlder": 1,
    "removeOlderPoints": "100",
    "removeOlderUnit": "3600",
    "cutout": 0,
    "colors": ["#00b4d8"],
    "x": 880,
    "y": 520,
    "wires": [[], []]
  },
  {
    "id": "chart_distance",
    "type": "ui_chart",
    "z": "flow_dragon",
    "name": "Gráfico Docking",
    "group": "group_charts",
    "order": 3,
    "width": 12,
    "height": 5,
    "label": "Distância de Docking (cm)",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "Aguardando dados...",
    "dot": false,
    "ymin": "0",
    "ymax": "",
    "removeOlder": 1,
    "removeOlderPoints": "100",
    "removeOlderUnit": "3600",
    "cutout": 0,
    "colors": ["#00cc66"],
    "x": 880,
    "y": 600,
    "wires": [[], []]
  },
  {
    "id": "chart_radiation",
    "type": "ui_chart",
    "z": "flow_dragon",
    "name": "Gráfico Radiação",
    "group": "group_charts",
    "order": 4,
    "width": 12,
    "height": 5,
    "label": "Radiação Solar (lux)",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "Aguardando dados...",
    "dot": false,
    "ymin": "0",
    "ymax": "4095",
    "removeOlder": 1,
    "removeOlderPoints": "100",
    "removeOlderUnit": "3600",
    "cutout": 0,
    "colors": ["#ffaa00"],
    "x": 880,
    "y": 680,
    "wires": [[], []]
  },
  {
    "id": "group_cabin",
    "type": "ui_group",
    "name": "🚀 Sistemas da Cabine",
    "tab": "ui_tab_dragon",
    "order": 1,
    "disp": true,
    "width": 12
  },
  {
    "id": "group_nav",
    "type": "ui_group",
    "name": "🛰️ Navegação e Ambiente",
    "tab": "ui_tab_dragon",
    "order": 2,
    "disp": true,
    "width": 12
  },
  {
    "id": "group_charts",
    "type": "ui_group",
    "name": "📈 Histórico em Tempo Real",
    "tab": "ui_tab_dragon",
    "order": 3,
    "disp": true,
    "width": 12
  },
  {
    "id": "ui_tab_dragon",
    "type": "ui_tab",
    "name": "Dragon Telemetry",
    "icon": "rocket",
    "order": 1,
    "disabled": false,
    "hidden": false
  }
]
